  <br>
  <br>
  <br>
<!--
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      });
    </script>
    </div>
  </div>
-->    

  <div class="container" style="margin-left:230px;">
        <div class="row">
          <div class="span13">
            <center>
              <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=#{@geofence.x_act},#{@geofence.y_act}&zoom=18&size=500x500&sensor=false" %>
            </center>
          </div>
        </div><!--/row-->
  </div>

<%= link_to 'Edit', edit_geofence_path(@geofence) %> |
<%= link_to 'Back', geofences_path %>

