<<<<<<< HEAD
<%= stylesheet_link_tag "welcome.css.scss" %>
<body>
	<h1>SMARTBIKE 4 LIFE MY NIGGA</h1>
	<p>Si logran ver esto, significa que el benja lo logró.</p>
</body>
=======
<h1>SmartBikeForLIFE!!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> 1930ce6296b4cd285f62ccdaad747d4da0448529
