<%= stylesheet_link_tag "welcome.css.scss" %>
<title>SmartBike - Bicicleta Inteligente</title>
<body>
	<div class="jumbotron">
		<br />
		<br />
		<center>
		<div class="jumbotron">
			<p>
			<%= image_tag 'Logo2.png' %>
			</p>
			<p>
			¿Quieres saber a que distancia estás de tu bicicleta?
			</p>
			<br />
			<p>
				<a class="btn btn-lg btn-success" href="geofences" role="button">PORFAVOR DIMELO!</a>
			</p>
			<br />
			<br />
		</center>	
		</div>
		<div class ="row marketing">
			<div class="col-lg-6">
			<h1>App Android</h1>
			<p>
				Revisa el estado de tu bicicleta. Pobre el que se atreva a robarla, siempre tendrás ojos puestos en ella. ¡Cuentale a todos tus logros!
			</p>
			<h2>Dispositivo Electrónico</h2>
			<p>
				Tu propio, pequeño y escondido espía. Este, junto con un sistema de señalización, te ofrece seguridad tanto arriba como abajo de tu bici. 
			</p>
		    </div>

			<div class="col-lg-5">
			<h1>Página Web</h1>
			<p>
				Velo donde sea, muestrale a tus amigos, todo lo que hay en la aplicación celular en un formato para todos.
			</p>
			<h2>Asegura Tu Bicicleta!</h2>
			<p>
				SmartBike es todo lo que nesecitas para solucionar todas esas falencias de la seguridad en tu bicicleta. Protegete, Protegela!
			</p>
			</div>
		</div>
	</div>
</body>