<%= stylesheet_link_tag "welcome.css.scss" %>
<title>SmartBike - Bicicleta Inteligente</title>
<body>
	<div class="jumbotron">
		<br />
		<br />
		<center>
		<div class="jumbotron">
			<p>
			<%= image_tag 'Logo2.png' %>
			</p>
			<p>
			SmartBike es el futuro, y tú lo sabes.
			</p>
			<p>
				<a class="btn btn-lg btn-success" href="geofences" role="button">Conocelo</a>
			</p>
		</center>	
		</div>
		<div class ="row marketing">
			<div class="col-lg-6">
			<h1>App Android</h1>
			<p>

			</p>
			<h2>Dispositivo Electrónico</h2>
			<p>

			</p>
		    </div>

			<div class="col-lg-6">
			<h1>Página Web</h1>
			<p>

			</p>
			<h2>Asegura Tu Bicicleta!</h2>
			<p>

			</p>
			</div>
		</div>
	</div>
</body>