<html>
	<head>
		<title>SmartBike - Bicicleta Inteligente</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->


		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header 
			<div id="header">
				<span class="logo icon fa-bicycle"></span>
				
				<h1>Hola. Bienvenido a SmartBike</h1>
				<p>La solucíón a todos los problemas de las bicicletas</a>
				<br />
				Ve a donde tu quieras y donde tu bicicleta no quieres que vaya</a>.</p>
				
			</div>
			 Main -->

				<header class="major container small">

					<%= image_tag "https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10723262_10152759948478599_16344409_n.jpg?oh=b0c73b8bc6a4646d5d266ef4312fbe78&oe=543A13AC&__gda__=1413032908_e9cabbe982c5fe7a5f6bd40b62232110" %>
					<br>
					
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<span class="logo icon fa-bicycle"></span>
					<br>
					<br>
					<h2>Ve donde tu quieras
					<br />
					y a donde no quieres que 
					<br />
					tu bicicleta vaya</h2>
					<p>
						<iframe width="750" height="450" src="http://www.youtube.com/embed/feIn3KPIe08" frameborder="0"></iframe>
					</p> 
					<!--
					<p>Tellus erat mauris ipsum fermentum<br />
					etiam vivamus nunc nibh morbi.</p>
					-->
				</header>
				
				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon fa-signal"><%= image_tag("pic01.jpg") %></a>
						<div class="content">
							<h3>Dispositivo Electrónico Arduino</h3>
							<p>Tu propio, pequeño y escondido espía. Este, junto con un sistema de señalización, te ofrece seguridad tanto arriba como abajo de tu bicicleta.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon fa-code"><%= image_tag("pic02.jpg") %></a>
						<div class="content">
							<h3>Aplicación y Página Web</h3>
							<p>Velo donde sea, muestrale a tus amigos, todo lo que tu celular y tu bicicleta ve. Si tu alarma se activa, tus amigos podrán ayudarte a encontrarla.</p>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon fa-mobile"><%= image_tag("pic03.jpg") %></a>
						<div class="content">
							<h3>Aplicación Movil Android</h3>
							<p>Revisa el estado de tu bicicleta. Pobre el que se atreva a robarla, siempre tendrás ojos puestos en ella. ¡Cuentale a todos tus logros!</p>
						</div>
					</section>
				</div>
			<br>
					<span class="logo icon fa-bicycle"></span>
			<br>
			<footer class="major container small">
			</footer>
		<!-- Footer -->
			<div id="footer">
				<div class="container small">

					<h3>Ve la posición actual de tu bicicleta</h3>
					<ul class="actions">
						<li><a href="geofences/1" class="button">Ver</a></li>
					</ul>
				
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>
					
					<ul class="copyright">
						<li>&copy; BitGear. All rights reserved.</li><li>Design: <a href="http://bitgear.feriadesoftware.cl">BitGear</a></li>
					</ul>
			
				</div>
			</div>

	</body>
</html>