<%= stylesheet_link_tag "welcome.css.scss" %>
<title>SmartBike - Bicicleta Inteligente</title>
<body>
	<div class="jumbotron">
		<center>
		<p>
			<%= image_tag 'Logo2Big.png' %>
		</p>
		<p>
			SmartBike es el futuro, y tú lo sabes.
		</p>
		<p>
			<a href="geofences" class="btn btn-primary btn-lg" role="button">Entrar</a>
		</p>
		</center>	
	</div>
</body>