<%= stylesheet_link_tag "welcome.css.scss" %>
<head>
	<title>SmartBike - Bicicleta inteligente</title>
</head>
<body>
	<h1>SMARTBIKE 4 LIFE MY NIGGA</h1>
	<p>Si logran ver esto, significa que el benja lo logró.</p>
	<%= link_to "Datos", controller: "geofences" %>
</body>
