<<<<<<< HEAD
$font-stack:	Helvetica, sans-serif;
$color: cyan;

body{
	height: 50px;
	lenght: 50px;
	font: 100% $font-stack;
	color: $color;
	background: purple;
}
=======
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> 1930ce6296b4cd285f62ccdaad747d4da0448529
